@import '../../_variables';

#hero {
 display: flex;
 padding: 100px 50px 50px 50px;
 width: 100%;
 margin-top: 70px;
 max-width: 100%;
 position: relative;
 left: 0;
 right: 0;
 background-color: $thriftsBg;



    .hero_content {
        width: 50%;

        h1 {
          color: $deepblue;
          font-weight: bold;
          font-size: 4rem;
        }

        .btns {
            padding-top: 50px;
            gap: 15px;
        }
      }

      .hero_image{
        width: 50%;
      }

}

#license {
 gap: 30px;
}



@media (max-width: 768px) {
    #hero {
        flex-direction: column;
        padding: 20px;

        .hero_image {
            width: 100%;
            padding: 15px;
        }

        .hero_content {
            width: 100%;
            h1 {
              color: $deepblue;
              font-weight: bold;
              font-size: 2rem;
              text-align: center;
            }

            p {
              text-align: center;
            }

            .btns {
                gap: 0px;
                flex-direction: column-reverse;
            }

    
          }
    }


    #partners {
      flex-direction: column;
    }
   
    #license {
        flex-direction: column;
        gap: 0px;
        align-items: center;
        justify-content: center;
    }

}


@keyframes heartbeat-slow {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}


.animate__heartBeat-slow {
  animation: heartbeat-slow 2s infinite;
}

@media ((min-width:768px) and (max-width: 1078px)){
 #hero {

  .hero_content {

    
    h1 {
      font-size: 3rem;
      // color: red;
    }
  }
 }
}
