@import '../../_variables';

.hero_content {
  h1 {
    color: $deepblue;
    font-weight: bold;
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
    #hero {
        flex-direction: column;
    }
    .hero_content {
        h1 {
          color: $deepblue;
          font-weight: bold;
          font-size: 1.5rem;
        }
      }

}