@import '../../_variables';

.traders_section {
    padding: 50px;
}

#tarders_list {
    padding: 30px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr 1fr);

    li {
        font-size: 1.1rem;
        color: $blendColor;
    }
}

.main_content {
    align-items: center;
    width: 100%;
}

.market_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 50%;
    padding-right: 50px;

    h1 {
        color: $deepblue;
        font-weight: bold;
    }

    p {
        color: $lightblue;
        font-size: 1.2rem;
    }
}
.market_image {
    width: 50%;
}

@media (max-width: 768px) {
    .traders_section {
        padding: 0px;
    }
    #tarders_list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .main_content {
        flex-direction: column-reverse;


        .market_content {
            width: 100%;
            text-align: center;
            justify-content: center;
            padding:30px 15px;

            h1 {
                font-size: 1.3rem;
                margin: auto;
            }

            p{
                font-size: 1.1rem;
            }

            button {
              margin: auto;
            }
        }

        .market_image {
            width: 100%;
        }
    }
}