@import '../../_variables';

.features_sec {

    h2, h5 {
        color: $deepblue;
        font-weight: bold;
    }
    p {
        color: $lightblue;
    }

    
}

@media (max-width: 768px) {
    .features_sec {

        h2{
            font-size: 1.4rem;
        }
    }
}