@import '../../_variables';

.finance_section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 50px 50px 50px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  background: url('../../assets/upper_shape.png') center no-repeat $deepblue;
  background-size: cover;

  :nth-child(2) {
    width: 50%;
    text-align: center;
  }

  #p_img {
     margin-bottom: -5%;
  }
}

@media (max-width: 768px) {
  .finance_section {
    padding: 15px;
    text-align: center;

    h1 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.1rem;
    }

    :nth-child(2) {
      width: 100%;
    }
  }
}
